<div class="row">
    <div class="col-md-8">
        <div class="container-lg">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2>SISTEMA DE VENTAS</h2>
                            </div>

                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>MARCA</th>
                                <th>NOMBRE DISPOSITIVO</th>
                                <th>DESCRIPCION</th>
                                <th>EXISTENCIA</th>
                                <th>COLOR</th>
                                <th>PRECIO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let prueba of pruebaService.prueba">
                                <td>{{prueba.nombre_marca}}</td>
                                <td>{{prueba.nombret}}</td>
                                <td>{{prueba.descripcion}}</td>
                                <td>{{prueba.existencia}}</td>
                                <td>{{prueba.color}}</td>
                                <td>{{prueba.precio_lista}}</td>
                             
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>