<div class="row">
    <div class="col-md-8">
        <div class="container-lg">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2>Clientes</h2>
                            </div>

                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>COTENIDO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let prueba of pruebaService.prueba">
                                <td>{{prueba._id}}</td>
                                <td>{{prueba.content}}</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>