<div class="row">


    <div class="col-md-8">

        <div class="container-lg">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2>PEDIDOS</h2>
                        </div>

                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>DIA DEL PEDIDO</th>
                            <th>DISPOSITIVO</th>
                            <th>CANTIDAD</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let aggregate of aggregateService.aggregate">
                            <td>{{aggregate._id}}</td>
                            <div *ngFor="let aggregate of aggregateService.aggregate">
                            <td>{{aggregate.dispositivo}}</td>
                            </div>
                            <td>{{aggregate.cantidad}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>