<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">

                <form #pedidoForm="ngForm" (ngSubmit)="addPedido(pedidoForm)">
                 
                    
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder=" Cantidad" name="cantidad"
                            [(ngModel)]="pedidoService.selectedPedido.cantidad">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Total" name="total"
                            [(ngModel)]="pedidoService.selectedPedido.total">
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" placeholder="Fecha del pedido" name="fecha_p"
                            [(ngModel)]="pedidoService.selectedPedido.fecha_p">
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" placeholder="Fecha de entrega" name="fecha_e"
                            [(ngModel)]="pedidoService.selectedPedido.fecha_e">
                    </div>
                    <select  >
                        <option *ngFor="let dispositivo of dispositivoService.dispositivos" value="pedido.dispositivo" >{{dispositivo.modelo}}
                            </option>
                            </select>
               
                   
                    <button class="btn btn-secondary">Save</button>
                </form>


            </div>
        </div>
    </div>
    <div class="col-md-8">

        <div class="container-lg">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2>DISPOSITIVOS</h2>
                            </div>

                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>CANTIDAD</th>
                                <th>TOTAL</th>
                                <th>FECHA DEL PEDIDO</th>
                                <th>FECHA ENTREGA</th>
                                <th>DISPOSITIVO</th>
                                
                                <th>EDITAR/ELIMINAR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pedido of pedidoService.pedido">
                                <td>{{pedido.cantidad}}</td>
                                <td>{{pedido.total}}</td>
                                <td>{{pedido.fecha_p}}</td>
                                <td>{{pedido.fecha_e}}</td>
                                <td>{{pedido.dispositivo}}</td>
                               
                                <td>
                                   
                                    <button class="btn btn-danger bt-sm" (click)="deletePedido(pedido._id)">
                                        <i class="material-icons">delete_forever</i>
                                    </button>
                                </td>



                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
