
<div class="row">


    <div class="col-md-8">

        <div class="container-lg">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2>Reporte 2</h2>
                        </div>
                        
                        <p>Observar si el paquete del cliente fue entregado en los dias establecidos de entrega</p>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>CLIENTE</th>
                            <th>USUARIO</th>
                            <th>DIAS PARA SU ENTREGA</th>
                            <th>FECHA DEL PEDIDO</th>
                            <th>FECHA DE ENTREGA</th>
                            <th>ESTADO</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let aggregate2 of aggregate2Service.aggregate2">
                            <td>{{aggregate2.nombre}}</td>
                            <td>{{aggregate2.usuario}}</td>
                            <td>{{aggregate2.dias_entrega}}</td>
                            <td>{{aggregate2.fecha_p}}</td>
                            <td>{{aggregate2.fecha_e}}</td>
                            <td>{{aggregate2.estado}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>