<div class="row"> 
    <div class="col-md-1">

       
          
      
    </div>
    <div class="col-md-10">
        <div class="form-group">
            <input
            type="text"
            class="forms-control"
            placeholder="Buscar.."
            [(ngModel)]="filterpost"
            name="filterpost"
          />
          </div>
        <div class="container-lg">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2>Garantia</h2>
                            </div>

                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Numero de serie</th>
                                <th>Estado</th>
                                <th>Dispositivo</th>
                          
                                <th>Dueño</th>
                               
                         
                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let serie of serieS.series | filter: filterpost  ">
                                <td>{{serie.num_serie}}</td>
                                <td>{{serie.estado}}</td>
                                <td>{{serie.dispositivo?.modelo}}</td>
                                <td>{{serie.cliente?.nombre}}</td>
                          
                               
                          


                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


